@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

:root {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

body {
    width: 100vh;
    height: 100vh;
    background-color: var(--bg-primary);
}

.navigation {
    top: 0;
    width: 100vw;
    height: 3rem;
    z-index: 1;
    overflow: hidden;
    position: fixed;
    background-color: var(--bg-secondary);
}

.navbar {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    text-decoration: none;
}

.links:hover {
    cursor: pointer;
}

.navitem {
    margin-left: 3rem;
    margin-right: 3rem;
}

.navtext {
    font-size: 16px;
    font-family: 'Lato';
    color: var(--text-secondary);
}

.navtext:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 300ms ease;
}

.page {
    overflow: hidden;
    position: absolute;
    top: 5rem;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

iframe {
    height: 100vh;
    width: 100vw;
}

/* .resumepage {
    display: flex;
    flex-flow: column nowrap;
    background-color: #e2e2e2;
    padding: 2rem;
}

.fileheader {
    display: flex;
    flex-flow: row nowrap;
}

.fileheader .contact {
    list-style: none;
    margin-left: 4rem;
    font-family: 'Lato';
    font-size: 14px;
}

.fileheader .contact a {
    text-decoration: none;
    color: black;
}

.fileheader h1 {
    font-family: 'Abril Fatface';
}

.list-item {
    list-style: none;
    font-family: 'Lato';
    font-size: 16px;
}

.resumepage h2,
.resumepage h3 {
    font-family: 'Oswald';
    margin-top: 0;
}

.skills p {
    font-family: 'Lato';
}

.dates {
    font-family: 'Lato';
    font-size: 14px;
    margin-left: 9rem;
} */