@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

body {
    width: 100vh;
    height: 100vh;
    background-attachment: fixed;
    background-color: var(--bg-primary);
}

.navigation {
    top: 0;
    width: 100vw;
    height: 3rem;
    z-index: 1;
    background-color: var(--bg-secondary);
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.links {
    text-decoration: none;
}

.links:hover {
    cursor: pointer;
}

.navitem {
    margin-left: 3rem;
    margin-right: 3rem;
}

.navtext {
    font-size: 16px;
    font-family: 'Lato';
    color: var(--text-secondary);
}

.navtext:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page {
    position: absolute;
    top: 5rem;
    left: 3rem;
}

.resumepage {
    background-color: #e2e2e2;
    display: flex;
    flex-flow: column nowrap;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.fileheader {
    display: flex;
    flex-flow: row nowrap;
}

.fileheader .contact {
    list-style: none;
}

.fileheader .contact a {
    text-decoration: none;
    color: black;
}