@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Ubuntu&display=swap');

:root {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background:#ffffff;
}

body::-webkit-scrollbar-thumb {
    background: #9A999D;
}

img {
    border-radius: 50%;
    margin-right: 3rem;
}

iframe {
    width: 80vw;
    height: 80vh;
    border: none;
}

h1 {
    font-family: 'Open Sans';
}

h2 {
    font-family: 'Open Sans';
}

a {
    text-decoration: none;
}

em {
    margin-right: 1rem;
    background: #005FBD;
    color: #ffffff;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.25rem;
    border-radius: 0.5rem;
}

.navigation {
    width: 5rem;
    height: 100vh;
    position: fixed;
    z-index: 1;
    transition: width 600ms ease;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.navitem {
    width: 100%;
}

.navlink {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 600ms;
}

.menu {
    display: flex;
    height: 5rem;
    align-items: center;
}

.navitem .menu:hover {
    cursor: default;
}

.navlink:hover {
    filter: grayscale(0%) opacity(1);
    background: #9A999D;
}

.navtext {
    display: none;
    margin-left: 4rem;
    font-family: 'Ubuntu';
}

.navlink svg {
    width: 2rem;
    margin: 0 1.5rem;
}

.menu svg {
    width: 2rem;
    margin: 0 1.5rem;
}

.navigation:hover {
    width: 16rem;
}

.navigation:hover .navtext {
    display: block;
}

.navigation .links {
    text-decoration: none;
}

.page {
    margin-left: 5rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maintext {
    width: clamp(45ch, 50%, 75ch);
}
.projects {
    width: clamp(45ch, 50%, 75ch);
    font-family: 'Lato';
    margin: 2rem auto;
    padding: 0.5rem;
}

.pagenum {
    font-family: 'Lato';
    padding: .5rem;
    color: #000000;
    border-radius: 0.5rem;
    box-shadow: -1rem 0 3rem #000;
    transform: translateY(-8rem);
}

.download {
    padding: 20px;
    border: none;
    cursor: pointer;
    background: #005FBD;
    color: #ffffff;
    font-weight: 100;
    text-transform: uppercase;
    border-radius: 0.5rem;
    display: inline-block;
    transition: 0.3s ease;
}

.download:hover {
    background: #ffffff;
    color: #005fbd;
    letter-spacing: 0.5rem;
    font-weight: 700;
    transition: all 0.3s ease 0s;
    box-shadow: 0rem 0.5rem 3rem -0.5rem #000;
}

.cardlist {
    display: flex;
    padding: 3rem;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 22rem;
    width: 16rem;
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: -1rem 0 3rem #000;
    transition: .2s;
}

.cardheader {
    font-family: 'Concert One';
}

.cardheader a {
    text-decoration: none;
}

.cardheader img {
    width: 2rem;
    margin: 0 1.5rem;
}


.card:hover {
    transform: translateY(-1rem);
}

.card:hover~.card {
    transform: translateX(8rem);
}

.card:not(:first-child) {
    margin-left: -8rem;
}
